<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Phòng Mạch Tư</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
<!--                {% for c in categories %}-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">{{ c.name }}</a>-->
<!--                </li>-->
<!--                {% endfor %}-->

            </ul>
                <a class="p-2 me-2 nav-link" style="color: white" href="/login">Đăng Nhập</a>
        </div>
    </div>

</nav>