{% extends 'admin/master.html' %}

{% block body %}

<h1 class="text-center mt-1">Trang Quản Trị</h1>

{% if current_user.is_authenticated %}
<h2 class="text-success text-center">Chào mừng <span>{{current_user.hoTen}}</span></h2>
{% else %}
<form action="/admin-login" method="post">
    <div class="form-group mb-3 mt-3">
        <label for="username">Tên đăng nhập</label>
        <input type="text" class="form-control" placeholder="Tên đăng nhập" id="username" name="username">
    </div>
    <div class="form-group mb-3 mt-3">
        <label for="password">Mật Khẩu</label>
        <input type="password" class="form-control" placeholder="Mật khẩu" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
{% endif %}


{% endblock %}