{% extends 'layout/base.html'%}

{% block title %}Đăng Ký Khám{% endblock %}


{% block content%}
<h1 style="text-align: center; margin-bottom: 60px">Đăng Ký Lịch Khám</h1>
<form action="/dangkykham" style="margin-right: 25%; margin-left: 25%" method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Họ và tên:</label>
        <input class="form-control" placeholder="Họ và tên..." name="name">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Giới tính:</label>
        <select class="form-select" name="sex">
            <option value="Nam">Nam</option>
            <option value="Nu">Nữ</option>
            <option value="Khong">Không tiết lộ</option>
        </select>
    </div>

    <div class="mb-3 mt-3">
        <label class="form-label">Địa chỉ:</label>
        <input class="form-control" placeholder="Địa chỉ..." name="address">
    </div>
    <div>
        <label class="form-label">Ngày Sinh:</label>
        <input name="birthday" id="datepicker" width="276"/>
        <script>
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap5'
            });
        </script>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
