{% extends 'layout/base.html'%}

{% block title %}Lập Phiếu Khám{% endblock %}


{% block content%}
<h1 style="text-align: center; margin-bottom: 60px">Lập Phiếu Khám</h1>
<form action="/lapphieukham" style="margin-right: 25%; margin-left: 25%" method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Họ và tên:</label>
        <input class="form-control" placeholder="Họ và tên..." name="name">
    </div>

    <div>
        <label class="form-label">Ngày Khám</label>
        <input name="date" id="datepicker" width="276"/>
        <script>
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap5',
                format: 'dd/mm/yyyy'
            });
        </script>
    </div>

    <div class="mb-3 mt-3">
        <label class="form-label">Triệu chứng:</label>
        <input class="form-control" placeholder="Triệu chứng bệnh..." name="symptom">
    </div>

    <div class="mb-3 mt-3">
        <label class="form-label">Dự đoán loại bệnh:</label>
        <input class="form-control" placeholder="Chẩn đoán..." name="diseasePrediction">
    </div>
    <div class="row justify-content-center">
        <table class="medicineTable">
            <tr>
                <th>STT</th>
                <th>Tên thuốc</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
                <th>Cách dùng</th>
            </tr>
            <tr>
                <td>1</td>
                <td>
                        <select class="form-select" name="nameMedicine">
                            <option value=""></option>
                            {% for t in thuocs %}
                                <option value="">{{ t.tenThuoc }}</option>
                            {% endfor %}
                        </select>
                </td>
                <td>
                    <select class="form-select" name="medicineType">
                        {% for m in medicines_unit %}
                            <option value="">{{ m.tenDonVi }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="form-control" name="quantity">
                </td>
                <td>
                    <input class="form-control" name="howToUse">
                </td>
            </tr>
        </table>
    </div>
    <div class="col">
        <button class="btn btn-primary" id="addMedicineBtn" type="button" >Thêm thuốc</button>

        <a class="btn btn-primary" href="/ketoathuoc"
           style="display: inline-block; padding: 6.5px 22px; text-align: center; ">
            <p style="margin: 0;">Lưu phiếu</p>
        </a>
        <a class="btn btn-primary" href="/tracuuthuoc"
           style="display: inline-block; padding: 6.5px 22px; text-align: center; ">
            <p style="margin: 0;">Tra cứu thuốc</p>
        </a>
<!--        <button class="btn btn-primary" onclick=""></button>-->
    </div>
    <script src="{{ url_for('static', filename='js/medicine.js') }}"></script>
</form>
{% endblock %}
