{% extends 'layout/base.html' %}

{% block title %}Trang Bác sĩ{% endblock %}
{% block content %}
        <h1 style="text-align: center; margin-bottom: 80px">Trang Bác sĩ</h1>
        <div class="d-flex justify-content-around">
            <a class="btn btn-outline-dark btn-lg p-2" href="/lapphieukham" style="border-radius:20px">
                 <h1 class="m-2">Lập phiếu Khám</h1>
            </a>
            <a class="btn btn-outline-dark btn-lg p-2" href="/tracuuthuoc" style="border-radius:20px">
                 <h1 class="m-2">Tra cứu thuốc</h1>
            </a>
        </div>
{% endblock %}